@tailwind base;
@tailwind components;
@tailwind utilities;
/* @media print {
  #report-content * {
    backdrop-filter: none !important;
    background: #ffffff !important;
    color: #000000 !important;
  }
} */
